h1{
    text-align: center;
    color: blue;
}   

main{
    display:flex;
    justify-content: space-between;
}

author{
    display:block;
    text-align:right;
    font-style:italic;
}

.column{
    padding:2vw;
}

.column>article{
    border-bottom:1px solid black;
}

/* :nth-child(2) */
/* :first-child  */

.column>article:last-child{
    border-bottom:none;
}

#main-image{
    width:40vw;
    display:none;
}